<h2>Edit the item: {{item.title}}</h2>

<div id="create-form">
  <form action="/item/create" method="POST" enctype="multipart/form-data">

    <label> Title
      <input type="text" name="title" placeholder="Your Item Title" />
    </label>


    <label> Description:
        <textarea type="text" name="description" cols="30" rows="4" placeholder="In few your describe your product"> </textarea>
    </label>

    <label> Price
      <input type="number" name="price" placeholder="Price" />
    </label>
     <label> Condition
      <input type="text" name="condition" placeholder="Is your product new? Or is it used?" />
    </label>
    <label>Image:
          <input type="file" name="image" />
        </label>

    <button type="submit">Save Changes</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>