{{!-- <h1>Welcome to{{appTitle}}! </h1>
 --}}


  
  <!-- Custom CSS -->
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }
    .jumbotron {
      background-image: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe");
      background-size: cover;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .jumbotron h1 {
      font-size: 5rem;
      margin-bottom: 2rem;
    }
    .jumbotron p {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    
  </style>

<body>
  <div class="jumbotron">
    <div class="text-center">
      <h1>Welcome to The DevMarket</h1>
      <p>Discover our latest collection of items.</p>
      
    </div>
  </div>
  
</body>

